body {
    background-color:#1c3738;}
.logo{
    width: 60px;
    height: 60px;}

header{
    margin-top: 6rem;
    justify-content: left;
}
.boton{
    margin-top: 1.5rem;
}
footer{
    background-color:#1c3738;}